<?xml version="1.0"?>
<launch>
  <arg name="paused"        default="false"/>
  <arg name="use_sim_time"  default="true"/>
  <arg name="gui"           default="true"/>
  <arg name="headless"      default="false"/>
  <arg name="debug"         default="false"/>
  <arg name="world_name"    default="$(find create_world)/world/school3F.world"/>
  <arg name="x"             default="0"/>
  <arg name="y"             default="0"/>
  <arg name="z"             default="0"/>
  <arg name="roll"          default="0"/>
  <arg name="pitch"         default="0"/>
  <arg name="yaw"           default="0"/>
  <arg name="gpu"           default="true"/>
  <arg name="rviz"          default="true"/>

  <!-- World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(arg world_name)"/>
    <arg name="debug"         value="$(arg debug)" />
    <arg name="gui"           value="$(arg gui)" />
    <arg name="paused"        value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless"     value="$(arg headless)"/>
  </include>

<!-- Electric wheelchair -->
  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find electric_wheelchair)/xacro/wheelchair.xacro' "
  />

  <node
    pkg="gazebo_ros"
    type="spawn_model"
    name="spawn_model"
    args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -param robot_description -model wheelchair"
  />

  <!-- RViz -->
  <node
    if="$(arg rviz)"
    pkg="rviz"
    type="rviz"
    name="$(anon rviz)"
    respawn="false"
    output="screen"
    args="-d $(find velodyne_description)/rviz/example.rviz"
  />

  <!-- controllers -->
  <include file="$(find electric_wheelchair)/launch/control.launch"/>
</launch>
