<?xml version="1.0"?>
  <model>
    <name>3rd_floor</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
      <name>Koji Shibata</name>
      <email>g1881029@tcu.ac.jp</email>
    </author>

    <description>
      3rd floor of 1st building of Tokyo City University
    </description>
  </model>
