<?xml version="1.0"?>
<launch>
  <arg name="hostIP"    default="192.168.1.35"/>
  <arg name="mode"      default="White"/>
  <arg name="logging"   default="false"/>
  <arg name="expriment" default="true"/>
  <arg name="camera"    default="true"/>

  <group if="$(arg logging)">
    <node
      pkg="rosbag"
      name="Record"
      type="record"
      args="--all -o ~/Desktop/ex.bag"
    />
  </group>

  <group if="$(arg expriment)">
    <node
      pkg="subscribe_wheelchair"
      name="odometry_publisher"
      type="subscribe_wheelchair"
    />
    <node
      pkg="publish_wheelchair"
      name="ros2raspberry_pi"
      type="publish_wheelchair"
      output="screen"
      launch-prefix="xterm -e"
    />

    <group if="$(eval mode=='White')">
      <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
      <param name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
      <param name="device_ip" default="" />
      <param name="frame_id" default="velodyne" />
      <param name="manager" default="$(arg frame_id)_nodelet_manager" />
      <param name="max_range" default="130.0" />
      <param name="min_range" default="0.4" />
      <param name="pcap" default="" />
      <param name="port" default="2370" />
      <param name="read_fast" default="false" />
      <param name="read_once" default="false" />
      <param name="repeat_delay" default="0.0" />
      <param name="rpm" default="1200.0" />
      <param name="cut_angle" default="-0.01" />
      <param name="laserscan_ring" default="-1" />
      <param name="laserscan_resolution" default="0.007" />
      <param name="/velodyne_nodelet_manager_driver/device_ip" value="192.168.1.201" />
      <param name="/velodyne_nodelet_manager_driver/frame_id"  value="velodyneWhite" />
      <param name="/velodyne_nodelet_manager_driver/port"  value="2368" />
    </group>

    <group if="$(eval mode=='Blue')">
      <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
      <param name="/velodyne_nodelet_manager_driver/device_ip" value="192.168.1.202" />
      <param name="/velodyne_nodelet_manager_driver/frame_id"  value="velodyneBlue" />
      <param name="/velodyne_nodelet_manager_driver/port"  value="2369" />
    </group>

    <group if="$(eval mode=='Red')">
      <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
      <param name="/velodyne_nodelet_manager_driver/device_ip" value="192.168.1.203" />
      <param name="/velodyne_nodelet_manager_driver/frame_id"  value="velodyneRed" />
      <param name="/velodyne_nodelet_manager_driver/port"  value="2370" />
    </group>
  </group>

  <group unless="$(arg expriment)">
    <include file="$(find electric_wheelchair)/launch/gazebo.launch"/>
  	<node
  		pkg="wheelchair_gazebo_bridge"
  		name="gazebo_bridge"
  		type="wheelchair_gazebo_bridge"
    />
  </group>
</launch>
